<?xml version="1.0"?>
<config>
    <modules>
        <Expressly_Expressly>
            <version>2.4.1</version>
        </Expressly_Expressly>
    </modules>
    <frontend>
        <layout>
            <updates>
                <expressly>
                    <file>expressly.xml</file>
                </expressly>
            </updates>
        </layout>
        <routers>
            <expressly>
                <use>standard</use>
                <args>
                    <module>Expressly_Expressly</module>
                    <frontName>expressly</frontName>
                </args>
            </expressly>
        </routers>
    </frontend>
    <global>
        <blocks>
            <expressly>
                <class>Expressly_Expressly_Block</class>
            </expressly>
        </blocks>
        <helpers>
            <expressly>
                <class>Expressly_Expressly_Helper</class>
            </expressly>
        </helpers>
        <resources>
            <expressly_expressly_setup>
                <setup>
                    <module>Expressly_Expressly</module>
                    <class>Expressly_Expressly_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </expressly_expressly_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <expressly_expressly>
                        <type>singleton</type>
                        <class>Expressly_Expressly_Model_Observer</class>
                        <method>controllerFrontInitBefore</method>
                    </expressly_expressly>
                </observers>
            </controller_front_init_before>

            <admin_system_config_changed_section_expressly>
                <observers>
                    <expressly_expressly>
                        <type>singleton</type>
                        <class>Expressly_Expressly_Model_Observer</class>
                        <method>registerUpdateMerchant</method>
                    </expressly_expressly>
                </observers>
            </admin_system_config_changed_section_expressly>
        </events>
        <rewrite>
            <expressly_api_utility_ping>
                <from><![CDATA[#^/expressly/api/ping/?$#]]></from>
                <to><![CDATA[/expressly/utility/ping]]></to>
                <complete>1</complete>
            </expressly_api_utility_ping>

            <expressly_api_utility_registered>
                <from><![CDATA[#^/expressly/api/registered/?$#]]></from>
                <to><![CDATA[/expressly/utility/registered]]></to>
                <complete>1</complete>
            </expressly_api_utility_registered>

            <expressly_api_batch_invoice>
                <from><![CDATA[#^/expressly/api/batch/invoice/?$#]]></from>
                <to><![CDATA[/expressly/batch/invoice]]></to>
                <complete>1</complete>
            </expressly_api_batch_invoice>

            <expressly_api_batch_customer>
                <from><![CDATA[#^/expressly/api/batch/customer/?$#]]></from>
                <to><![CDATA[/expressly/batch/customer]]></to>
                <complete>1</complete>
            </expressly_api_batch_customer>

            <expressly_api_customer_show>
                <from><![CDATA[#^/expressly/api/user/([^\s]+@[^\s/]++)/?$#]]></from>
                <to><![CDATA[/expressly/customer/show/email/$1]]></to>
                <complete>1</complete>
            </expressly_api_customer_show>

            <expressly_api_customer_migrate>
                <from><![CDATA[#^/expressly/api/([0-9a-f-]+)/migrate/?$#]]></from>
                <to><![CDATA[/expressly/customer/migrate/uuid/$1]]></to>
                <complete>1</complete>
            </expressly_api_customer_migrate>

            <expressly_api_customer_popup>
                <from><![CDATA[#^/expressly/api/([0-9a-f-]+)/?$#]]></from>
                <to><![CDATA[/expressly/customer/popup/uuid/$1]]></to>
                <complete>1</complete>
            </expressly_api_customer_popup>
        </rewrite>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <expressly>
                                            <title>Expressly Section</title>
                                        </expressly>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config> 
