<?xml version="1.0"?>
<config>
    <sections>
        <expressly translate="label" module="expressly">
            <label>Expressly</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>90</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <expressly_general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <expressly_apikey transtale="label">
                            <label>API Key</label>
                            <comment>
                                API Key provided from our
                                &lt;a href="https://buyexpressly.com/#/install#api"&gt;portal&lt;/a&gt;.
                                If you do not have an API Key, please follow the previous link for instructions on how
                                to create one.
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </expressly_apikey>
                    </fields>
                </expressly_general>
            </groups>
        </expressly>
    </sections>
</config>