<?xml version="1.0"?>
<config>
	<modules>
		<Expressly_Migrator>
			<version>0.1.0</version>
		</Expressly_Migrator>
	</modules>
	<frontend>
		<routers>
			<Expressly_Migrator>
				<use>standard</use>
				<args>
					<module>Expressly_Migrator</module>
					<frontName>expressly</frontName>
				</args>
			</Expressly_Migrator>
		</routers>
		<layout>
			<updates>
				<Expressly_Migrator>
					<file>expressly_migrator.xml</file>
				</Expressly_Migrator>
			</updates>
		</layout>
	</frontend>
	<global>
		<resources>
			<expressly_migrator_setup>
				<setup>
					<module>Expressly_Migrator</module>
					<class>Expressly_Migrator_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</expressly_migrator_setup>
		</resources>
		<helpers>
	        <expressly>
	            <class>Expressly_Migrator_Helper</class>
	        </expressly>
    	</helpers>
    	<template>
            <email>
                <expressly_password_reset_template>
                    <label>ExpresslyPasswordReset</label>
                    <file>expressly_password_reset.html</file>
                    <type>html</type>
                </expressly_password_reset_template>
            </email>
        </template>
	</global>
	<admin>
        <routers>
            <expressly_migrator>
                <use>admin</use>
                <args>
                    <module>Expressly_Migrator</module>
                    <frontName>expressly</frontName>
                </args>
            </expressly_migrator>
        </routers>
    </admin>
    <adminhtml>
    	<menu>
			<expressly_menu translate="title" module="expressly">
				<title>Expressly</title>
				<sort_order>9999</sort_order>
				<action>expressly/tab</action>
			</expressly_menu>
		</menu>
        <layout>
            <updates>
                <expressly>
                    <file>expressly_migrator.xml</file>
                </expressly>
            </updates>
        </layout>
    </adminhtml>
</config>